@use "../../styles/fonts.scss" as f;
@use "../../styles/mixins.scss" as m;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type : none
}

body {
  margin: 0;
  height:100%;
  font-weight:500;
  font-family: f.$montserrat;
}

.container{
  margin-left:20px;
  margin-right:20px;
  @include m.desktop{
    margin-left:100px;
    margin-right:100px;
  }
}
