@use "../../styles/mixins.scss" as m;

.About{
  .imageHeader{
    height: 223px;
    @include m.desktop{
      height:223px;
    }
    &-image{
      height:223px;
    }
  }
  .accordion{
    margin-bottom: 30px;
  }
  .Accordion-list{
    margin-top: 40px;
    @include m.desktop{
      margin-left: 70px;
      margin-right: 70px;
    }
  }
}