.star{
  &-inactive{
    width: 36px;
    height:36px;
    background-image: url("../../assets/img/starRating/off.png");
  }
  &-active{
    width: 36px;
    height:36px;
    background-image: url("../../assets/img/starRating/on.png");
  };
}