@use "../../sass/common/colors" as c;
@use "../../sass/common/fonts.scss" as f;
@use "../../sass/common/mixins.scss" as m;

$subheader-small : "../../../assets/img/subheader-small.png";
$subheader-big : "../../../assets/img/subheader-big.png";

.subheader{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:111px;
  border-radius: 10px;
  background-image: url($subheader-small);
  margin-left: 20px;
  margin-right: 20px;
  font-size: f.$f24;  
  line-height: 111px;
  padding-left:16px;
  color:c.$white;
  @include m.desktop{
    height:223px;
    background-image: url($subheader-big);
    margin-top: 63px;
    margin-left: 100px;
    margin-right: 100px;  
    text-align: center;
    font-size: f.$f48;
    line-height: 223px;
  }
}