@use "../../styles/colors.scss" as c;
@use "../../styles/fonts.scss" as f;
@use "../../styles/mixins.scss" as m;

.Logement{
  .slideHeader{
    height:223px;
    @include m.desktop{
      height:415px;
    }
  }
  &-Details{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-bottom: 30px;
    .top{
      margin-top:30px;
      width: 100%;
      display: flex;
      flex-direction: column;
      @include m.desktop{
        flex-direction: row;
        justify-content: space-between;
      }
    }
    &__place{
      h2, p{
        color :c.$salmon;
      }
      h2{
        font-size:f.$f18;
        @include m.desktop{
          font-size:f.$f36;
        }
      }
      p{
        font-size: f.$f18;
      }
      ul{
        display:flex;
        margin-top: 20px;
        gap:5px;
        flex-wrap: wrap;
        li{
          font-size: f.$f10;
          background-color: c.$salmon;
          color: c.$white;
          text-align: center;
          padding: 3px;
          min-width: 115px;
          line-height: 25px;
          border-radius: 10px;
          @include m.desktop{
            font-size: f.$f14;
          }
        }
      }
    }
    &__identity{
      display: flex;
      justify-content: flex-end;
      @include m.desktop{
        justify-content: space-between;
        width:196px;  
      }    
    }
    &__host{
      margin-top: 10px;
      text-align: right;
      justify-content: right;
      @include m.desktop{
        width:196px;
      }
      p{
        padding-top:0px;
        padding-left:55px;
        padding-right: 16px;
        width:130px;
        font-size: 12px;
        color: c.$salmon;
        text-align: right;
        line-height: 16px;
        @include m.desktop{
          padding:16px;
          font-size: f.$f18;
        }
      }
      img{
        width: 32px;
        height:32px;
        border-radius: 32px;
        background-color: c.$grey;
        @include m.desktop{
          width:64px;
          height:64px;
        }
      }
    }
    &__commodities{
      width: 100%;
      display:flex;
      flex-direction: column;
      gap:30px;
      @include m.desktop{
        flex-direction: row;
        gap:30px;
      }
      .accordion{
        width: 100%;
        h2{
          font-size: f.$f13;
          @include m.desktop{
            font-size: f.$f18;
          }
        }
        &-content{
          font-size: f.$f12;
          line-height: 17.11px;
          @include m.desktop{
            font-size: f.$f18;
            line-height: 25.67px;
          }
        }
      }
    }
    &__ratingBox{
      display: flex;
      flex-direction: row;
      margin-top: -25px;
      @include m.desktop{
        justify-content:right;
        margin-top:15px;
      }
    }
  }
}

