@use "../../styles/colors.scss" as c;
@use "../../styles/fonts.scss" as f;
@use "../../styles/mixins.scss" as m;

.logementsList{
  margin-top:43px;
  margin-bottom:43px;
  border-radius: 25px;
  width: 100%;
  
  @include m.desktop{
    padding-top:56px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:56px;
    background: c.$light-gray;
    display: flex;
    gap:60px;
    flex-wrap:wrap;
  }
  &-item{
    margin-bottom: 20px;
    @include m.desktop{
      margin-bottom: initial;
      width:calc(100% / 3 - 40px);
    }
    background:c.$salmon;
    border-radius: 10px;
    img{
      width:100%;
      min-height:340px;
      z-index:-1;
      border-radius: 10px;
    }
    h2{
      font-size: f.$f18;
      color: c.$white;
      width:100px;
      position: absolute;
      margin-top:-55px;
      margin-left: 15px;
      &::before{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 10px;
        
      }
    }
  }
}