@use "../../styles/colors.scss" as c;
@use "../../styles/fonts.scss" as f;
@use "../../styles/mixins.scss" as m;

.NotFound{
  color: c.$salmon;
  text-align: center;
  margin-bottom:300px;
  @include m.desktop{
    margin-bottom: 80px;
  }
  &__title{
    font-weight: 700;
    font-size: f.$f96;
    margin-top: 66px;
    margin-bottom: 11px;
    @include m.desktop{
      margin-top: 66px;
      margin-bottom: 66px;  
      font-size: f.$f288;
    }
  }
  &__text{
    font-size: f.$f18;
    margin-bottom: 133px;
    @include m.desktop{
      font-size: f.$f36;
      margin-bottom: 182px;
    }
  }
  &__Link{
    color:c.$salmon;
  } 
}